{% extends 'base.html.twig' %}

{% block title %}PageController!{% endblock %}

{% block body %}

<div class="example-wrapper">
    <h1>{{ page.title }}</h1>

    <article> {{ page.content }}</article>

</div>
{% endblock %}
